* {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    max-width: 100%;
    width: 100%;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gutter {
    width: 100%;
    margin: 0;
    background-color: #000;
    display: inline-block;
}

.message {
    display: block;
}

.dealer {
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    
}

.dealer a, .dealer span {
    color: #fff;
}

.location {
    display: block;
}

.language {
    display: block;
}

.header-main:hover {
    background-color: #fff;
}

.bg-video {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

nav {
    width: 100%;
    position: absolute;
}

ul {
    list-style-type: none;
}

.menu-dropdown {
    display: inline-block;
    position: relative;
    margin: 5px;
}

.menu-dropdown a {
    text-decoration: none;

}

.dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    max-width: 100%;
    padding: 30px;
    z-index: 1;
}

.nav-panel {
    background-color: #fff;
}


.menu-dropdown:hover .dropdown {
    display: block;
    
}

