<div class="main">
    <video autoplay loop muted plays-inline class="bg-video">
        <source type="video/mp4" src="https://d1mo5ln9tjltxq.cloudfront.net/-/media/videos/my22/bikes/road/gravel/topstone-carbon/c22_topstonecarbon_website_homepagebillboard_video_1440x900_h264_5mbps.ashx">
    </video>
    <nav>
        <ul>
            <li><a href="#">Bikes</a></li>
            <li><a href="#">Electric Bikes</a></li>
            <li><a href="#">Gear</a></li>
        </ul>
        <span class="logo"><a href="#">cannondale</a></span>
        <button><i class="fa fa-search"></i></button>
    </nav>
    <div class="content">
        <span>GO AHEAD, RIDE IT</span>
        <h1><span>Nothing is Impassable</span></h1>
        <a href="#">See Topstone Carbon</a>
    </div>
</div>