<div class="main">
    <div class="gutter">
        <div class="message"></div>
        <div class="dealer">
            <div class="location">
                <a href="">
                    <i class="fa-map-marker"></i>
                    <span>Find a bike shop near you</span>
                </a>
            </div>
            <div class="language">
                <a href="">EN/EN</a>
            </div>
        </div>
    </div>
    <div class="header">
        <video autoplay loop muted plays-inline class="bg-video">
            <source
                src="https://d1mo5ln9tjltxq.cloudfront.net/-/media/videos/my22/bikes/road/gravel/topstone-carbon/c22_topstonecarbon_website_homepagebillboard_video_1440x900_h264_5mbps.ashx">
        </video>
        <div class="header-main">
            <nav>
                <ul class="navigation">
                    <li class="menu-dropdown">
                        <a routerLink="/bikes">Bikes</a>
                        <div class="nav-panel">
                            <ul class="dropdown">
                                <li class="dropdown-header">ROAD</li>
                                <li class="dropdown-header">MOUNTAIN</li>
                                <li class="dropdown-header">HYBRID</li>
                            </ul>
                        </div>

                    </li>
                    <li class="menu-dropdown">
                        <a routerLink="/bikes">Electric Bikes</a>
                    </li>
                    <li class="menu-dropdown">
                        <a routerLink="/bikes">Gear</a>
                    </li>
                    
                </ul>
                <div class="site-logo">
                    <a class="site-logo-link" href=""><strong>Cannondale</strong></a>
                </div>
                <button>
                    <i class="fa fa-search"></i>
                </button>
            </nav>
        </div>
    </div>
</div>